.background {
	-fx-background-color: black;
}
.output {
	-fx-font-family: monospace;
	-fx-font-size: 16pt;
	-fx-text-fill: yellow;
	-fx-background-color: black;
	-fx-font-weight: bold;
}
.input {
	-fx-font-family: monospace;
	-fx-font-size: 16pt;
	-fx-text-fill: yellow;
	-fx-background-color: black;
	-fx-font-weight: bold;
	-fx-padding: 0 0 2em 2em
}
